<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnbaseSettings:FormIntegrationID" value="117" />
    <!--<add key="OnbaseSettings:AppServerURL" value="http://10.10.3.231/appserver/service.asmx" />-->
    <add key="OnbaseSettings:AppServerURL" value="http://localhost/appserver/service.asmx" />
    <add key="OnbaseSettings:Username" value="manager" />
    <add key="OnbaseSettings:Password" value="password123" />
    <add key="OnbaseSettings:DataSource" value="OnBaseSTG" />
    <add key="OnbaseSettings:CustomerDocumentType" value="BKO - Cadastro" />
    <add key="OnbaseSettings:CustomerDocumentFileType" value="Image File Format" />
    <add key="CustomerApiSettings:BaseUrl" value="http://localhost:5545" />
    <add key="CustomerApiSettings:DivergedResource" value="/api/diverged-customers" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>